{% extends "base.html" %}

{% block title %}{{ msg.title }}{% endblock %}

{% block content %}
    <h2>Health Check Status</h2>
    <div style="background-color: #f5f5f5; padding: 10px; border-radius: 5px; ">
        <pre style="white-space: pre-wrap; overflow-x: auto; max-width: 100%;">{{ msg.message | tojson(indent=4) }}</pre>
    </div>
    <div style="margin-top: 15px; text-align: center;">
        <a href="/api/v1/health" 
           style="text-decoration: none; color: #007bff; transition: color 0.3s ease, text-decoration 0.3s ease;" 
           onmouseover="this.style.color='#000'; this.style.border='1px solid #ececec'; this.style.backgroundColor='cornflowerblue'; this.style.padding='5px'; this.style.borderRadius='5px';" 
           onmouseout="this.style.color='#007bff'; this.style.border='none'; this.style.backgroundColor='transparent'; this.style.padding='0'; this.style.borderRadius='0';" 
           target="_blank">API Check</a>
    </div>
{% endblock %}